p {
	line-height: 1.635em;
	margin: .7em 0 1em 0;
	font-family: ff-meta-serif-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
	font-size: 1.3em;
	color: #333;
	-webkit-font-smoothing: antialiased;
}


.side-menu.active {
	margin-left:0;
}

.side-menu .folder .item {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 1.5em,rgba(0,0,0,.03) 100%);
	background-image: -moz-linear-gradient(left,rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 1.5em,rgba(0,0,0,.03) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 1.5em,rgba(0,0,0,.03) 100%);
	background-image: -ms-linear-gradient(left,rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 1.5em,rgba(0,0,0,.03) 100%);
	background-image: linear-gradient(left,rgba(0,0,0,.03) 0,rgba(0,0,0,.1) 1.5em,rgba(0,0,0,.03) 100%);

	padding: .5em;
	background-color: white;
	border-bottom: 1px solid gray;
}

.side-menu {
	width: 15em;
	margin-left: -15em;
	background-color: rgba(245, 215, 119, 0.46);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	-webkit-transition: margin-left .3s ease,margin-top .3s ease;
	transition: margin-left .3s ease,margin-top .3s ease;
}

body.pushed {
	margin-left: 15em;
	-webkit-transition: margin .3s ease,-webkit-transform .3s ease;
	transition: margin .3s ease,transform .3s ease;
}

.left.sticky.navbutton {
	position: fixed;
	top: 1em;
	padding: 1em;
	background-color: rgba(245, 215, 119, 0.46);
}

.navbutton:hover {
	cursor: hand;
}

body {
	position: absolute;
	top: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.43)
}

h2 i {
	float: left !important;
}

time {
	color: #666665;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
}

html {
	background: url("patterns/witewall_3.png");
}

.title-wrapper {
	/*background: url('http://www.leandrokasan.com/english/imagens/fingerstyle.jpg');*/
	background-attachment: fixed;
	height: 10em;
	background-color: rgba(243, 184, 95, 0.54);
}

h2.title {
	/*font-family: acta-display, Georgia, Times, serif;*/
	font-family:"freight-sans-pro", Helvetica, Arial, Sans-Serif;
	font-size: 3em;
	color: #333;
	font-weight: normal;
	margin-top: 1em;
	text-align: center;
}

h2.ui.header {
	color: rgb(82, 77, 77) !important;
}

div.outer {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 100px;
}

div.outer.shadow {
	-webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.63);
	-moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.63);
	box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.63);
}

div.outer h2 {
	padding-top: 1em;
	padding-bottom: 0px;
	margin: 0;
}

div.outer:last {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

div.top.banner {
	float: right;
	font-family: acta-display, Georgia, Times, serif;
	background-color: rgba(218, 193, 193, 0.84);
	-webkit-font-smoothing: antialiased;
	width:100%;
}

.embed.unloaded {
	width: 100%;
	height: 30px;
	background: white;
}

.italic {
	font-style: italic;
}

.emphasis {
	color: rgb(189, 93, 93);
}

.hugging {
	margin-top: -3%;
}

.inline.aside {
	margin: 0 auto;
	width: 80%;
	font-size: 2em;
	color: #333;
}

a {
	color: #cf8b5e;
	text-decoration: none;
	border-bottom: 1px dotted #cf8b5e;
}

a:hover{
	color: orange;
	border-bottom: 1px dotted orange;
}

div.top.banner strong {
	font-style: italic;
	color: rgb(189, 93, 93);
}

div.journal {
	margin: 3em auto;
	width: 50%;
}

figure {
	margin-left: 0px;
}

figcaption {
	color: #999;
	font-family: "ProximaNova", "freight-sans-pro", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-style: italic;
	margin: .5em auto 1em;
}

.persistent-nav {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 7% !important;
}


.persistent-nav .item {
	color: rgba(218, 193, 193, 0.84);
}

@media screen and (max-device-width: 1224px) {
	p {
		font-size: 3em;
	}
	div.journal {
		width: 90% !important;
	}
	.persistent-nav {
		display: none;
	}

	h2 {
		font-size: 3.5em !important;
		background: rgba(218, 193, 193, 0.84);
	}
}


/*
	rgba(218, 193, 193, 0.84) - Cool faded maroon
	rgba(78, 68, 56, 0.89) - Light (dark) brown for text
	#cf8b5e - The rust orange used by soundcloud embed
*/